<style>
.col-centered{
  text-align: center;
}
</style>
<script>
function changeText(newText,newTemp) {
  /*if(newTemp === '""'){
    document.getElementById('template').type = "hidden";
  }*/
  document.getElementById('description').value = newText;
  document.getElementById('template').value = newTemp;
}
</script>
<div class="container">
  <form method="POST" action="/template" name="templateForm">
    <input type="hidden" name="_csrf" value="{{_csrf}}"/>
    <div class="row">
      <div class="col-centered">
        <h1>Select a Template</h1>
        <hr />
      </div>
    </div>
    <div class="row">
      <!-- Templete List -->
      <div class="col-md-6">
        <label for="templates">Templates</label>
        <div class="well">
          {{#each templates}}
          <div class="radio">
            <input type="radio" name="templateID" onclick="changeText('{{this.description}}','{{this.template}}');" value="{{this.id}}" /> <span>{{this.title}}</span>
          </div>
          {{/each}}
        </div>
      </div>
      <!-- Decription -->
      <div class="col-md-6">
        <textarea rows="3" cols="50" style="resize: none; border: none; outline: none; background-color: transparent; font-family: inherit; font-size: inherit;" type="text" name="doc-title" value="" id="description" autocomplete="off">
        </textarea>
        <hr />
        <label for="templates">Template</label><br />
        <textarea rows="10" cols="50" style="resize: none; border: none; outline: none; background-color: transparent; font-family: inherit; font-size: inherit;" type="text" name="doc-title" value="" id="template" autocomplete="off">
        </textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4 col-centered">
        <input class="btn btn-lg btn-danger" type="submit" value="Select">
      </div>
    </div>
  </form>
</div>
